:root {
	--black: #2b282c;
}

.nav-main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.navcontainer {
	background-color: var(--black);
	width: calc(100% - 2em - 6em);
	margin: 1em;
	border-radius: 1rem;

	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;

	padding: 0 3em;
}

.ufored {
	width: 2.5em;
}

.hamburger {
	display: none;
	overflow: visible;
}

.burgerline,
.hamburger {
	cursor: pointer;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.hamburger:hover .burgerline {
	fill: var(--light-yellow);
}

.navlinks {
	padding: 0;
	font-family: var(--font-blackoutmidnight), sans-serif;
	color: #fff;
	/*min-width: 25%;*/
	list-style-type: none;
	display: flex;
	gap: 1em;
	flex-direction: row;
	justify-content: space-between;
}

.navlinks li {
	font-size: 1.5em;
}

@media (max-width: 640px) {
	.navcontainer {
		flex-direction: column;
		align-items: flex-start;
		height: 6.25em;
		transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
	}

	.ufored {
		position: absolute;
	}

	.navlinks {
		/*display: none;*/
		flex-direction: column;
		margin-top: 6.75em;
	}

	.hamburger {
		display: block;
		position: absolute;
		right: 4em;
		top: 3.45em;
	}

	.navtextopen {
		height: 17em;
		/* height: calc(100vh - 5.6em); */
	}
}

.hamburger.active {
	transform: translateX(20%);
}
.active .path1 {
	rotate: 45deg;
	transform: translateX(-4%);
}
.active .path2 {
	opacity: 0;
	fill: var(--black) !important;
	/* scale: 0 1; */
	transform: translateX(-200%);
}
.active .path3 {
	transform: translateX(-54.5%) translateY(-20%);
	rotate: -45deg;
}

.nav-lower {
	position: absolute;
	bottom: 0;
	height: calc(100% - 18.5em);
	width: 100vw;
}
